{{ "esq-cart.css" | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

{%- render 'esq-cart-items' -%}

<div class="container">
  <div id="main-cart-footer" data-id="{{section.id}}" class="cart__totals">
      <div class="js-contents">
        <div class="cart__totals-content">
          <div class="cart__totals-info">
            <p>VAT included.<br>Delivery costs will be calculated during checkout.</p>
          </div>
          <div class="cart__totals-price">
            <span class="p-large">TOTAL:</span>
            <span class="p-large cart__subtotal">
              {{cart.total_price | money }}
            </span>
          </div>
          <div class="cart__totals-actions">
            <button class="button ghost p-0">CLEAR CART</button>
            <button class="button button-primary">
              <span>TO CHECKOUT</span>
              {%- render 'icon-cart' -%}
            </button>
          </div>
        </div>
      </div>
    </div>
  <div id="cart-errors"></div>
  <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
  <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
</div>
