{{ "section-esq-search.css" | asset_url | stylesheet_tag }}

{%- assign search_query = "?q=" | append: search.terms | append: '&options%5Bprefix%5D=last&sort_by=' -%}

<div id="search-section" class="{{section.settings.padding}} {% if section.settings.first_section and settings.fixed_navigation %}
first-section
{% endif %}">
  <div class="container">
    {%- if search.performed -%}
      <div class="search__results-header">
        <h6>You searched for "{{ search.terms }}"</h6>
        <p>Results found: <span id="results_count">{{search.results_count}}</span></p>
      </div>
      {%- if search.results_count > 0 -%}
      <div class="search__results-filters-wrap">
        <h1 class="h2">Products</h1>
        <div class="search__results-filters">
          <div class="esq-option-badge filter-badge">
            <div class="filter-badge__heading">
              <span>SORT RESULTS BY</span>
              {%- render 'icon-caret' -%}
            </div>
            <div class="filter-badge__content">
              <div data-value="relevance" onclick="sortResults(this)" class="filter-term sort-by-input active">Relevance</div>
              <div data-value="price-descending" onclick="sortResults(this)" class="filter-term sort-by-input">Price Descending</div>
              <div data-value="price-ascending" onclick="sortResults(this)" class="filter-term sort-by-input">Price Ascending</div>
            </div>
          </div>
          <div class="esq-option-badge filter-badge">
            <div class="filter-badge__heading">
              <span>FILTER ON COLLECTION</span>
              {%- render 'icon-caret' -%}
            </div>
            <div class="filter-badge__content">
              {% capture collection_list %}
                {%- for result in search.results -%}
                  {%- for collection in result.collections -%}
                    {{ collection.title }}::
                  {%- endfor -%}
                {%- endfor -%}
              {%- endcapture -%}

              {% assign collections_array = collection_list | strip | split: '::' | uniq %}

              {%- for item in collections_array -%}
                <div class="filter-checkbox-wrap">
                    <input class="filter-checkbox" type="checkbox" value="{{ item }}">
                    <span>{{ item }}</span>
                </div>
              {%- endfor -%}
            </div>
          </div>

          {% capture options_list %}
            {%- for result in search.results -%}
              {%- for option in result.options -%}
              {%- if option != "Title" -%}
                {{ option }}::
              {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- assign options_array = options_list | strip | split: '::' | uniq -%}

          {%- for item in options_array -%}
            <div class="esq-option-badge filter-badge">
              <div class="filter-badge__heading">
                <span>FILTER ON {{ item }}</span>
                {%- render 'icon-caret' -%}
              </div>
              <div class="filter-badge__content">
                  {% capture option_values_list %}
                    {%- for result in search.results -%}
                      {%- for value in result.options_by_name[item].values -%}
                        {{ value }}::
                      {%- endfor -%}
                    {%- endfor -%}
                  {%- endcapture -%}

                  {%- assign options_values_array = option_values_list | strip | split: '::' | uniq -%}

                  {%- for item in options_values_array -%}
                    <div class="filter-checkbox-wrap">
                        <input class="filter-checkbox optionCheckbox" type="checkbox" value="{{ item }}">
                        <span>{{ item }}</span>
                    </div>
                  {%- endfor -%}
              </div>
            </div>
          {%- endfor -%}
          <div class="esq-option-badge filter-badge">
            <div class="filter-badge__heading">
              <span>FILTER ON PRICE RANGE</span>
              {%- render 'icon-caret' -%}
            </div>
            <div class="filter-badge__content">
              {%- for i in (1.. settings.price_filter_amount) -%}
              {%- assign range = settings.price_filter_max | minus: settings.price_filter_min | divided_by: settings.price_filter_amount -%}
                {%- if forloop.first -%}
                  {%- assign min = settings.price_filter_min -%}
                  {%- assign max = min | plus: range -%}
                {%- else -%}
                  {%- assign increase = forloop.index0 | times: range -%}
                  {%- assign min = settings.price_filter_min | plus: increase -%}
                  {%- assign max = min | plus: range -%}
              {%- endif -%}
              {%- if forloop.last -%}
                  {%- assign max = settings.price_filter_max -%}
              {%- endif -%}
                <div class="filter-checkbox-wrap">
                    <input class="filter-checkbox priceCheckbox" type="checkbox" value="{{ min }} - {{ max }}">
                    <span>{{ min | money }} - {{ max | money }}</span>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
        {{ 'section-esq-collection-grid.css' | asset_url | stylesheet_tag }}
        {{ "component-esq-product-card-minimal.css" | asset_url | stylesheet_tag }}
        <div class="product-grid small loading">
          {%- for result in search.results -%}
            {%- if result.object_type == "product" -%}
              <div class="result__wrapper" data-price="{{ result.price }}">
                {%- for collection in result.collections -%}
                  <span class="result__collection hidden">{{ collection.title }}</span>
                {%- endfor -%}
                {%- for option in result.options_with_values -%}
                  {%- for value in option.values -%}
                    <span class="result__option hidden">{{ value }}</span>
                  {%- endfor -%}
                {%- endfor -%}
                {%- render "esq-product-card-minimal", product: result, size: "small" -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

<script src="{{ 'section-esq-search.js' | asset_url }}" defer="defer"></script>

{%- schema -%}
{
  "name": "ESQ Search Section",
  "tag": "section",
  "class": "esq-search-section",
  "presets": [
    {
      "name": "ESQ Search Section"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "first_section",
      "label": "First section on page?",
      "default": false
    },
    {
      "type": "select",
      "id": "padding",
      "default": "section-p",
      "label": "Padding",
      "options": [
        {
          "label": "None",
          "value": "section"
        },
        {
          "label": "Top & Bottom",
          "value": "section-p"
        },
        {
          "label": "Top",
          "value": "section-pt"
        },
        {
          "label": "Bottom",
          "value": "section-pb"
        }
      ]
    }
  ],
  "blocks": [

  ]
}
{%- endschema -%}
