{{ 'esq-product-grid.css' | asset_url | stylesheet_tag }}

{%- assign product_card_size = section.settings.product_card_size -%}
{%- assign activeCollection = section.settings.collection -%}

{%- if collection -%}
  {%- assign  activeCollection = collection -%}
{%- endif -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="{{section.settings.padding}} {% if section.settings.first-section and settings.fixed_navigation%}
  first-section
{% endif %}">
  <div class="container">
    <h2>{{section.settings.headline}}</h2>
    <div class="product-grid {{product_card_size}}">
        {%- for product in activeCollection.products -%}
          {%- case section.settings.product_card_type -%}
            {%- when 'minimal' -%}
              {%- render 'esq-product-card-minimal', size: product_card_size, product: product -%}
            {%- endcase -%}
        {%- endfor -%}
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
var cartContents = fetch('/cart.js')
.then(response => response.json())
.then(data => { console.log(data); });
</script>  -->

{%- schema -%}
{
  "name": "ESQ Collection Grid",
  "tag": "section",
  "class": "esq-collection-grid",
  "presets": [
    {
      "name": "ESQ Collection Grid"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Titel"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collectie"
    },
    {
      "type": "select",
      "id": "product_card_type",
      "label": "Type productkaarten",
      "default": "minimal",
      "options": [
        {
          "value": "minimal",
          "label": "Minimal"
        },
        {
          "value": "detailed",
          "label": "Detailed"
        }
      ]
    },
    {
      "type": "select",
      "id": "product_card_size",
      "label": "Grootte van productkaarten",
      "default": "regular",
      "options": [
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "regular",
          "label": "Standaard"
        },
        {
          "value": "large",
          "label": "Groot"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding",
      "default": "section-p",
      "label": "Padding",
      "options": [
        {
          "label": "None",
          "value": "section"
        },
        {
          "label": "Top & Bottom",
          "value": "section-p"
        },
        {
          "label": "Top",
          "value": "section-pt"
        },
        {
          "label": "Bottom",
          "value": "section-pb"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "first-section",
      "label": "First section on page?",
      "default": false
    }
  ]
}
{%- endschema -%}
